/// Helper to stylize a input with a specified size
/// @param {Number} $height - Height CSS value
/// @param {String} $padding - Padding CSS value
/// @param {String} $font-size - Font-size CSS value
/// @param {String} $line-height - Line-height CSS value
@mixin input-size-variant($height, $padding, $font-size, $line-height) {
    & {
        height:      $height;
        padding:     $padding;
        font-size:   $font-size;
        line-height: $line-height;
    }
}