#cover {
    position:          fixed;
    width:             100%;
    height:            100%;
    background-repeat: no-repeat;
    background-size:   cover;
    top:               0;
    left:              0;
    // position the cover below the whole blog
    z-index:           map-get($z-indexes, l-cover);
}