// ==============================
// Post blockquote
// ==============================

blockquote {
  margin: 1em auto;
  color: #555555;
  background-color: #F6F6F6;
  border-left: 4px solid #999;
  position: relative;
  line-height: 1.6;
  font-family: Open Sans;

  @include min-screen() {
    padding: 0.2em 2em 0.2em 3em;

    &::before {
      font-family: Arial;
      content: "\201C";
      color: #999;
      font-size: 4em;
      position: absolute;
      left: 10px;
      top: -10px;
    }
  }

  @include max-screen() {
    padding: 0.2em 1em;
  }

  footer {
    color: #333333;
    margin-bottom: 1em;
  }

  cite:before {
    content: '\2014';
    padding-right: .3em;
    padding-left: .3em;
  }
}
