// ==============================
// Post disqus
// ==============================

.disqus-button {
  cursor: pointer;
  border: 2px solid #ddd;
  color: #999;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  transition: 0.5s;

  &:hover {
    color: #111;
    border-color: #111;
  }
}
