.post-header {
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px LightGrey solid;

  .post-title {
    margin: 0;
    font-size: $post-title-font-size;
    font-weight: $post-title-font-weight;
    font-family: $global-serif-font-family;

    .post-pinned svg {
      vertical-align: middle;
      width: 24px;
      height: 24px;
      fill: $theme-color;
    }
  }

  .post-link {
    @include underline-from-center;
  }

  .post-meta {
    font-size: 14px;
    color: $post-meta-font-color;

    .post-time {
      font-size: 15px;
    }

    .post-category {
      display: inline;

      a {
        &::before {
          content: '·';
        }
      }
    }

    a {
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }

    .more-meta {
      &::before {
        content: '·';
      }
    }

  }
}
