// ==============================
// Post image
// ==============================

p>img {
  cursor: pointer;
}

figure {
  a:hover {
    border: 0;
  }

  &.center {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    float: right;
    margin-left: 1.5em;
  }

  &.left {
    float: left;
    margin-right: 1.5em;
  }

  figcaption {
    margin-top: 0.5em;
    text-align: center;
    line-height: 1.5em;

    h4 {
      color: #b5b5b5;
      // font-size: 0.9em;
      margin: 0;
    }

    p {
      font-size: 0.9em;
      color: #b5b5b5;
      font-style: italic;
      margin: 0;
    }
  }
}
