#algolia-search-modal {
    display: none;

    .search-icon {
        position: absolute;
        top:      15px;
        left:     15px;
        color:    $font-color-base;
    }
    .media-content {
        font-size: 0.95em;
    }
    .search-input {
        box-sizing: border-box;
        padding:    0 130px 0 25px;
        margin:     0;
    }
    .modal-header {
        padding-bottom: 8px;
    }
    .modal-body {
        padding-top: 15px;
        // minus its padding and height of header bar and footer bar
        height:      calc(100% - 100px - 15px);
    }

    .media:nth-child(n+2) {
        padding-top: 15px;
    }
    hr {
        margin-top: 0;
    }
    .results-count {
        line-height: 50px;
        color:       $font-color-base;
    }
    .searchby-algolia {
        position: absolute;
        top:      15px;
        right:    45px;
    }
    .searchby-algolia-text {
        display:        inline-block;
        vertical-align: top;
        line-height:    20px;
        height:         20px;
    }
    .searchby-algolia-logo {
        display:        inline-block;
        vertical-align: top;
        height:         20px;
    }
    .no-result {
        display: none;
        position:  relative;
        top:       50%;
        transform: translateY(-50%);
    }
}

