.caption {
    display:       block;
    font-family:   map-get($font-families, 'caption');
    font-size:     map-get($font-size, small);
    color:         darken(map-get($colors, 'light'), 10%);
    text-align:    center;
    font-style:    italic;
    padding-right: 10px;
    padding-left:  10px;
}