.form-control {
    background: transparent;
    width:      100%;
    border:     none;
    outline:    none;
    color:      map-get($colors, base);
    font-weight: 300;

    &:hover,
    &:focus {
        outline: none;
    }
}


// Input size variant
.input--large {
    @include input-size-variant(auto, 10px 0, 18px, 21px);
}
.input--xlarge {
    @include input-size-variant(auto, 10px 0, 25px, 30px);
}