.pagination-bar {
    height: auto;
    width:  100%;
    height: $pagination-height;

    .pagination {
        position:    relative;
        height:      $pagination-height;
        line-height: $pagination-height;
        display:     block;
        list-style:  none;
        padding:     0 10px;
        width:       auto;

        .pagination-prev,
        .pagination-next {
            float:        left;
            margin-right: 10px;
        }
        .pagination-number {
            float:     right;
            font-size: map-get($font-size, small);
            color:     map-get($colors, light);
        }
    }
}