.pullquote {
    text-align: left;
    font-style: italic;
    margin: 1.5em 0 0;

    &.left {
        width:        45%;
        float:        left;
        margin: 1.5em 35px 1.5em 0;
    }
    &.right {
        width:        45%;
        float:        right;
        margin: 1.5em 0 1.5em 35px;
    }
    &.blur {
        background-color: lighten(map-get($colors, 'base'), 54%);
    }

}