a.tag,
.tag {
    display:        inline-block;
    background:     #fff;
    width:          auto;
    height:         auto;
    border-radius:  3px;
    letter-spacing: $letter-spacing-base;
    cursor:         pointer;
    margin:         0;
    margin-right:   4px;
    margin-bottom:  7px;
}

// Colors variant
a.tag--default,
.tag--default {
    @include tag-color-variant(map-get($colors, light));
}

a.tag--success,
.tag--success {
    @include tag-color-variant(map-get($colors, success));
}

a.tag--primary,
.tag--primary {
    @include tag-color-variant(map-get($colors, primary));
}

a.tag--danger,
.tag--danger {
    @include tag-color-variant(map-get($colors, danger));
}

// Size variant
a.tag--default,
.tag--default {
    @include tag-size-variant(map-get($font-size, small), 4.5px 15px);
}

a.tag--small,
.tag--small {
    @include tag-size-variant(map-get($font-size, small), 2px 10px);
}