// ==============================
// Iconfont
// ==============================

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}


/* Generic Icon */
.icon-heart::before {
  font-icon: url('../fonts/svg/heart.svg');
}

.icon-right::before {
  font-icon: url('../fonts/svg/right.svg');
}

.icon-left::before {
  font-icon: url('../fonts/svg/left.svg');
}

.icon-up::before {
  font-icon: url('../fonts/svg/up.svg');
  font-size: 2em;
}

.icon-new-window::before {
  font-icon: url('../fonts/svg/new-window.svg');
}

.icon-rss::before {
  font-icon: url('../fonts/svg/rss.svg');
}


/* Social Icon */
.icon-email::before {
  font-icon: url('../fonts/svg/email.svg');
  font-size: 0.8em;
}

.icon-stack-overflow::before {
  font-icon: url('../fonts/svg/stack-overflow.svg');
}

.icon-twitter::before {
  font-icon: url('../fonts/svg/twitter.svg');
  font-size: 0.9em;
}

.icon-facebook::before {
  font-icon: url('../fonts/svg/facebook.svg');
}

.icon-linkedin::before {
  font-icon: url('../fonts/svg/linkedin.svg');
}

.icon-google::before {
  font-icon: url('../fonts/svg/google.svg');
  font-size: 1.15em;
}

.icon-github::before {
  font-icon: url('../fonts/svg/github.svg');
}

.icon-weibo::before {
  font-icon: url('../fonts/svg/weibo.svg');
  font-size: 1.1em;
}

.icon-zhihu::before {
  font-icon: url('../fonts/svg/zhihu.svg');
}

.icon-douban::before {
  font-icon: url('../fonts/svg/douban.svg');
}

.icon-pocket::before {
  font-icon: url('../fonts/svg/pocket.svg');
}

.icon-tumblr::before {
  font-icon: url('../fonts/svg/tumblr.svg');
  font-size: 1.1em;
}

.icon-instagram::before {
  font-icon: url('../fonts/svg/instagram.svg');
  font-size: 1.1em;
}

.icon-gitlab::before {
  font-icon: url('../fonts/svg/gitlab.svg');
}

.icon-goodreads::before {
  font-icon: url('../fonts/svg/goodreads.svg');
}

.icon-coding::before {
  font-icon: url('../fonts/svg/coding.svg');
  font-size: 1.3em;
}

.icon-bilibili::before {
  font-icon: url('../fonts/svg/bilibili.svg');
}

.icon-codeforces::before {
  font-icon: url('../fonts/svg/codeforces.svg');
}

.icon-globe::before {
  font-icon: url('../fonts/svg/globe.svg');
}

.icon-mastodon::before {
  font-icon: url('../fonts/svg/mastodon.svg');
}