.modal-dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 1;
  pointer-events: auto;
  overflow-y: initial !important;

  &.visible {
    display: block;
  }
}

.modal-dialog > .modal-content {
  width: 800px;
  max-width: 90%;
  position: relative;
  margin: 5vh auto;
  border-radius: 10px;
  background: #fff;
  background: linear-gradient(#fff, #999);

  .modal-header {
    padding: 5px 15px;
  }

  .modal-body {
    height: 80vh;
    overflow-y: auto;
    background: #fff;
    border-radius: 0 0 10px 10px;
  }
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  cursor: pointer;
}

.close:hover {
  background: #00d9ff;
}
